/*	Main style file for 'Notes' side project.
	Fredrik Ekelund, 2013. */


// Global variables
$body-background-color: hsl(0, 0%, 94%);
$add-color: hsla(120, 80%, 55%, .5);
$important-heading-color: hsla(0, 90%, 55%, .8);
$notes-heading-color: hsla(25, 90%, 55%, .8);

$break1: 850px;
$break2: 640px;
$break3: 400px;


// @mixin directives
@mixin placeholder($color) {
	color: $color;
	padding-top: .1em;
	// Only WebKit supports styling placeholder text on :focus, though
	transition: color .15s linear;
}

// Produces repeating linear gradient background with sharp stops
@mixin important-note-background($colors...) {
	$rotation: -45deg;
	$stop-width: 0.4em;
	$list: nth($colors, 1) 0, nth($colors, 1) $stop-width;

	@for $i from 2 through length($colors) {
		$list: append($list, nth($colors, $i) $stop-width*($i - 1));
		$list: append($list, nth($colors, $i) $stop-width*$i);
	}

	background-image: repeating-linear-gradient($rotation, $list);
}

%only-ss-icon {

	&:before {
		display: inline-block;
		text-align: center;
		width: 100%;
	}
}


// @import directives
@import "compass/reset/utilities";
@import "compass/css3";
@import "compass/utilities/general/";

@import "position";
@import "ss-standard";


// global reset
* {
	@include reset-box-model;
	box-sizing: border-box;
	color: inherit;
	font: inherit;
}


// Tag selectors
body {
	background-color: $body-background-color;
	font: 16px/1.5 proxima-nova, sans-serif;
	width: 100%;

	@media (max-width: $break2) {
		font-size: 12px;
	}

	@media (max-width: $break3) {
		font-size: 10px;
	}
}

button {
	background: none;
	cursor: pointer;
}


input, [contenteditable] {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: 0;
	border-radius: 0;
	outline: 0;
	text-transform: inherit;
}


// Class selectors
.add-note {
	/* border-color is faded slightly due to Firefox issue with overlaying
		 colors of same opacity. Doing so 'merges' the color into a plain
		 one, and doesn't reveal the underlying color. I filed a bug for this. */
	border-bottom: .3em solid fade-out($add-color, .01);
	color: fade-out(black, .3);
	font-size: 2.5em;
	height: 1.75em;
	line-height: 1.6;
	margin-top: 2.25em;
	max-width: 18em;
	position: relative;

	@media (max-width: $break3) {
		margin-top: 1.8em;
	}

	> div {
		@include position(none 0 none 1.5em);
	}

	> label, button {
		background-color: $add-color;
		display: inline-block;
		height: 1.75em;
		line-height: 1.8;
		overflow: hidden;
		@include position(0 none none 0);
		transition: all .1s linear;
		white-space: nowrap;
		width: 1.5em;

		@extend %only-ss-icon;
	}

	> button {
		color: white;
		cursor: pointer;
		opacity: 0;
		pointer-events: none;
		text-shadow: 0 0 5px fade-out(black, .8);
		z-index: 1;

		&.visible {
			opacity: 1;
			pointer-events: auto;

			+ label {
				background-color: fade-in($add-color, .3);
				color: transparent;
			}
		}
	}
}

.new-note {
	background-color: $body-background-color;
	display: block;
	height: 1.45em;
	line-height: 1;
	padding: .1em 0 .1em .25em;
	text-overflow: ellipsis;
	text-transform: lowercase;
	transition: background-color .15s linear;
	width: 100%;

	&::-webkit-input-placeholder {
		@include placeholder(fade-out(black, .3));
	}
	&::-moz-placeholder {
		@include placeholder(fade-out(black, .3));
	}
	.placeholder {
		color: fade-out(black, .3);
	}

	&:focus {
		background-color: white;

		&::-webkit-input-placeholder {
			color: fade-out(black, .6);
		}
		// Firefox does not yet implement styling of placeholder text
		// on :focus
		&::-moz-input-placeholder {
			color: fade-out(black, .6);
		}
	}

	&.has-content {
		background-color: white;
	}
}

%heading-with-icon {
	margin-left: 1em;

	&:before {
		display: inline-block;
		margin-right: .25em;
		padding-left: .25em;
		@include position(.15em none none none, relative);
		text-align: center;
		width: 1.5em;
	}
}

.notes {
	font-size: 2.5em;
	margin-top: 1.5em;

	> header {
		$border-color: fade-out(black, .8);

		border-bottom: 1px solid $border-color;
		color: fade-out(black, .25);
		font-size: .5em;
		max-width: 36em;
		margin-bottom: 1em;
		text-align: right;
		@include pie-clearfix;

		> h1 {
			float: left;
			font-weight: bold;
			line-height: 1;
			padding: .5em .5em .5em 0;

			@extend %heading-with-icon;
		}

		> button {
			color: fade-out(black, .55);
			font-size: .75em;
			margin-left: .25em;
			padding: 0 .35em 0 .15em;
			line-height: 1;
			vertical-align: bottom;
			overflow: visible;

			@extend %heading-with-icon;
			&:before {
				margin-right: 0;
				padding-left: 0;
				vertical-align: bottom;
			}

			&.active {
				background-color: $body-background-color;
				color: fade-out(black, .25);
				position: relative;

				&:after {
					color: $body-background-color;
					content: "▾";
					font-family: "SSStandard";
					@include position(none none -1.6em 0);
					text-align: center;
					text-shadow: 0 1px 0 $border-color;
					width: 100%;
				}
			}
		}
	}

	> ul {
		margin-bottom: 1.5em;
		min-height: 3em;
		max-width: 15em;
		padding: 0 .5em 1em 0;
		@include pie-clearfix;

		@media (max-width: $break1) {
			padding-right: 0;
		}

		> header {
			$color: fade-out(black, .5);

			color: $color;
			font-size: .5em;
			@include pie-clearfix;

			> h2 {
				float: left;
				display: inline-block;
				line-height: 2;

				@extend %heading-with-icon;
			}

			> div, button {
				border-bottom: 1px solid transparent;
				float: right;
				font-size: .5em;
				height: 4.1em;
				line-height: 4.7;
				margin-left: 1.25em;
				padding-left: .5em;

				@media (max-width: $break2) {
					font-size: .75em;
					line-height: 2.9;
					height: 2em;
				}
				@media (max-width: $break3) {
					height: 2.5em;
					line-height: 3.3;
				}

				&:before {
					margin-right: .75em;
				}
			}

			> button:before {
				margin-right: .4em;
			}
		}
	}
}

.no-todos {
	color: fade-out(black, .65);
	font-size: .4em;
	font-style: italic;
	margin: 3em 1.5em 0 3.75em;
}

%complete-button-focus {
	left: 0;
	opacity: 1;
	width: 1.5em;
}

.note {
	$odd-bg-color: hsl(346, 87%, 56%);
	$even-bg-color: hsl(200, 75%, 50%);
	$odd-colors:
		hsl(199, 53%, 37%),
		hsl(319, 59%, 26%),
		hsl(319, 74%, 33%),
		hsl(346, 87%, 56%),
		hsl(57, 64%, 48%);
	$even-colors:
		hsl(354, 25%, 25%),
		hsl(352, 72%, 51%),
		hsl(4, 32%, 55%),
		hsl(6, 9%, 56%),
		hsl(18, 38%, 66%);
	$hover-desaturate: 25%;
	$color: hsla(0, 0%, 14%, .9);

	@function modify-odd-color($color, $alpha: .9, $darken: 3%, $desaturate: 5%) {
		@return desaturate( darken( fade-out($color, 1-$alpha), $darken), $desaturate);
	}

	@function modify-even-color($color, $alpha: .9, $darken: 0%, $desaturate: 10%) {
		@return desaturate( darken( fade-out($color, 1-$alpha), $darken), $desaturate);
	}

	background-clip: content-box;
	clear: left;
	color: $color;
	float: left;
	list-style: none;
	margin-top: .5em;
	max-width: 100%;
	padding-left: 1.5em;
	position: relative;
	text-transform: lowercase;
	transition: {
		property: background-position, opacity;
		duration: .2s;
		timing-function: ease-in;
	}

	&:hover > .complete {
		@extend %complete-button-focus;
	}

	&.completed {
		background-position: 0 7em;
		opacity: .8;

		@media (max-width: $break2) {
			background-position: 0 7.05em;
		}

		> div {
			> input {
				display: none;
			}
			> span {
				background: linear-gradient($color, $color) center no-repeat;
				background-size: 100% 7%;
			}
		}
	}

	&.completed-hidden {
		opacity: .8;
	}

	&.important {

		> div > span:after {
			content: '!';
			font-weight: bold;
		}
	}

	&:nth-child(odd) {
		background-color: modify-odd-color($odd-bg-color);

		&.important {
			$color1: modify-odd-color(nth($odd-colors, 1));
			$color2: modify-odd-color(nth($odd-colors, 2));
			$color3: modify-odd-color(nth($odd-colors, 3));
			$color4: modify-odd-color(nth($odd-colors, 4));
			$color5: modify-odd-color(nth($odd-colors, 5));

			@include important-note-background($color1, $color2, $color3, $color4, $color5);
		}
	}
	&:nth-child(even) {
		background-color: modify-even-color($even-bg-color);

		&.important {
			$color1: modify-even-color(nth($even-colors, 1));
			$color2: modify-even-color(nth($even-colors, 2));
			$color3: modify-even-color(nth($even-colors, 3));
			$color4: modify-even-color(nth($even-colors, 4));
			$color5: modify-even-color(nth($even-colors, 5));

			@include important-note-background($color1, $color2, $color3, $color4, $color5);
		}
	}

	> .complete {
		height: 1.75em;
		opacity: 0;
		overflow: hidden;
		padding: .2em .25em 0 .25em;
		@include position(none none none .2em);
		text-shadow: 0 0 5px white;
		transition: all .1s ease-out;
		width: 1.3em;

		@extend %only-ss-icon;

		&:focus {
			@extend %complete-button-focus;
		}

		&:disabled {
			cursor: default;
			left: .2em;
			opacity: 0;
			width: 1.3em;
		}

		@media (max-width: $break2) {
			height: 1.8em;
		}
	}

	> div {
		background: fade-out($body-background-color, .1);
		box-shadow: 0 0 5px fade-out(black, .8);
		line-height: 1;
		margin: .2em;
		padding: .2em .35em .1em .25em;
		position: relative;
		transition: background-color .15s linear;

		> input {
			background: transparent;
			color: transparent;
			height: 100%;
			padding: 0 .25em;
			@include position(0 none none 0);
			width: 100%;

			&:focus {
				color: inherit;

				+ span {
					color: transparent;
				}
			}
		}

		> span {
			background-size: 0% 7%;
			display: block;
			overflow: hidden;
			padding-bottom: .05em;
			text-overflow: ellipsis;
			white-space: pre;

			@media (max-width: $break3) {
				padding-bottom: .1em;
			}
		}
	}
}


// ID selectors
#container {
	margin-left: 20%;
	width: 60%;

	@media (max-width: $break2) {
		margin-left: 10%;
		width: 75%;
	}

	@media (max-width: $break3) {
		margin-left: 5%;
		width: 90%;
	}
}


// Modernizr classes
.touch {
	.note {
		.complete {
			color: fade-out(black, .5);
			opacity: 1;
			left: 0;

			&:disabled {
				opacity: 0;
			}
		}
	}
}

.no-touch {
	.note {
		.complete {

			&:hover, &:focus {
				background-color: fade-in($add-color, .3);
				color: white;
				text-shadow: 0 0 5px fade-out(black, .8);
			}
		}
	}
}